$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

body {
  margin-top: 70px;
}
//AUTH
.auth__well {
  margin-top: 30px;
}
.auth__title {
  margin-bottom: 25px;
}

.authform__error {
  color: red;
  font-weight: 300;
  padding-top: 10px;
  display: block;
}

//SEARCHBOX
.searchbox {
  margin-top: 10px;
}
.searchBox__label {
  padding-top: 10px;
  margin: 0;
}

//CARD
.card {
  height: 520px;
}
.card__panel {
  height: 500px;
}
.card__panel__heading {
  text-align: center;
}
.card__panel__body {
  height: 400px;

}
.card__image {
  height: 100%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1220px) {
  .card_panel_buttons_large {
    display: none;
  }
}

@media screen and (min-width: 1219px) {
  .card_panel_buttons_small {
    display: none;
  }
}

.icon__heart {
  margin-right: 5px;
}

//MOVIEDETAILSPAGE
.detail__panel__heading {
  text-align: center;    
}
.detail__panel__button {
 
}



