$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

body {
  margin-top: 70px;
}
//LOGIN
.login__well {
  margin-top: 30px;
}
.login__title {
  margin-bottom: 25px;
}

.authform__error {
  color: red;
  font-weight: 300;
  padding-top: 10px;
  display: block;
}