$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

body {
  margin-top: 70px;
}
//AUTH
.auth__well {
  margin-top: 30px;
}
.auth__title {
  margin-bottom: 25px;
}

.authform__error {
  color: red;
  font-weight: 300;
  padding-top: 10px;
  display: block;
}

//SEARCHMOVIESPAGE
.search__panel {
  height: 500px;
}
.search__panel__heading {
  text-align: center;
}
.search__panel__body {
  height: 400px;

}
.search__image {
  height: 90%;
  display: block;
  margin: 0 auto;
}